@font-face {
  font-family: 'MaryKate';
  src: url("./fonts/mary-kate.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: MaryKate, Roboto;
  background-color: #FFF5E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
}

/* section:last-of-type {
  margin-bottom: 30px;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #431B16;
  color: white;
  height: 30px;
  font-size: 16px;
  z-index: 200;
}

h3 {
  margin: 0;
}

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  position: sticky;
  top: 0;
  width: 100%;
  height: 220px;
  text-align: center;
  box-shadow: 2px 2px 10px #431b16;
  margin-bottom: 10px;
  background-color: #FFF5E8;
  /* border-top: 2px solid #EB4630;
  border-bottom: 2px solid #EB4630; */
  z-index: 300;
}

.section-subheading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
  position: sticky;
  top: 220px;
  width: 100%;
  height: 160px;
  background-color: #431b16;
  color: white;
  /* text-align: center; */
  box-shadow: 2px 2px 10px #431b16;
  /* border-top: 2px solid #EB4630;
  border-bottom: 2px solid #EB4630; */
  /* z-index: 100; */
}

.section-subheading img {
  margin-top: 20px;
  max-height: 80px;
  max-width: 80px;
}

.section-subcontent {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .section-subcontent {
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
    gap: 10px;
  }
}

.section-content {
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #431b16; */
  /* margin-bottom: 10px; */
  /* box-shadow: 2px 2px 10px #431b16; */
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  /* background-color: lightblue; */
}

.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  max-height: 100%;
}

.business-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  max-width: 90%;
  /* background-color: lightblue; */
}

@media (min-width: 768px) {
  .business-information {
    max-width: 40%;
  }
}

.street,
.city-state-zip,
.phone {
  font-size: 20px;
  margin: 2px;
}

.operation {
  font-size: 26px;
  margin: 20px 0 20px 0;
  background-color: #431B16;
  color: white;
  padding: 12px;
  border: 2px solid #431B16;
  border-radius: 30px;
}

.weekday-row {
  margin: 2px;
  width: 60%;
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-between;
}

.day {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 20px;
  /* background-color: green; */
}

.hours {
  display: flex;
  flex: 2;
  justify-content: space-around;
  /* background-color: orange; */
}

.closed {
  color: #ee452f;
}

.card {
  color: #431b16;
  border: 2px solid #431b16;
  border-radius: 14px;
  padding: 8px;
  box-shadow: 2px 2px 6px #431b16;
  /* margin-bottom: 10px; */
}

.card h2 {
  margin: 0;
}

.item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px;
  /* margin-bottom: 6px; */
}

.spice-image {
  width: 20px;
}

.ingredient {
  font-size: 14px;
  display: inline-block;
  /* background-color: #ee452f; */
  /* background-color: #431B16; */
  /* color: white; */
  border: 1px solid #431B16;
  border-radius: 4px;
  margin: 1px;
  padding: 4px 8px 4px 8px;
}

.price {
  background-color: #ee452f;
  /* background-color: #431B16; */
  color: white;
  border-radius: 10px;
  padding: 6px;
  min-width: 40px;
  text-align: center;
}

.nav-bar-heading {
  font-size: 48px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 0 10px;
  gap: 4px;
}

.nav-item {
  background-color: #431B16;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px;
}

.nav-footer {
  color: #ee452f;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.anchor-target {
  scroll-margin-top: 220px;
}
